@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

#app {
  background-color: #f8f9fa;
}
* {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 120%;
}
a {
  font-size: 14px;
  color: #67748e;
  cursor: pointer;
}
span {
  font-size: 14px;
  color: #344767;
}
p {
  font-size: 16px;
  color: #67748e;
}
h4 {
  font-size: 24px;
  color: #344767;
  font-weight: 700;
}
h6 {
  font-size: 16px;
  color: #344767;
  font-weight: 700;
}
h5 {
  font-size: 20px;
  color: #344767;
  font-weight: 700;
}
label,
i {
  font-size: 14px;
  font-weight: 600;
  color: #344767;
}
button {
  font-size: 13px;
  padding: 9px 24px;
  border-radius: 4px;
  letter-spacing: 0.2px;
  font-weight: 600;
}
input,
select,
textarea,
.selectInput {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d2d6da;
  transition:
    box-shadow 0.15s ease,
    border-color 0.15s ease;
  border-radius: 4px;
}
input:focus,
select:focus,
textarea:focus,
.selectInput:focus {
  color: #495057;
  background-color: #fff;
  border-color: #4e8bffff;
  outline: 0;
  box-shadow: 0 0 0 2px #007bff;
}

/* Responsive styles */
@media (max-width: 1024px) {
  a {
    font-size: 13px;
  }
  span {
    font-size: 13px;
  }
  p {
    font-size: 15px;
  }
  h4 {
    font-size: 20px;
  }
  h6 {
    font-size: 15px;
  }
  h5 {
    font-size: 18px;
  }
  label {
    font-size: 13px;
  }
  button {
    font-size: 11px;
    padding: 7px 20px;
  }
  input,
  .selectInput {
    padding: 0.4rem 0.6rem;
    font-size: 13px;
  }
}
